@font-face {
  font-family: 'blippo';
  src: url('../static/blippo.otf') format('opentype');
}

html {
  background-color: #ffcbc0;
}

body {
  font-family: 'blippo', sans-serif !important;
  background-color: #ffcbc0;
}

.main {
  margin-top: 9rem;
  padding-bottom: 9rem;
  background-color: #ffcbc0;
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: black;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}