#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffcbc0;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit:cover;
  min-width: 10rem;
  max-width: 40rem;
  min-height: 10rem;
  max-height: 50rem;
}

.swiper-slide {
  min-width: 10rem;
  max-width: 18rem;
  min-height: 10rem;
  max-height: 50rem;
}

.my-swiper {
  width: 90vw;
}

h1{
  text-align: center;
}

@media (min-width: 946px) {
  .swiper-slide {
    min-width: 10rem;
    max-width: 30rem;
    min-height: 10rem;
    max-height: 50rem;
  }
  .my-swiper {
    width: 100vw;
  }
}